/*CSS Document*/

body, html{
    
    height: 100%;
    margin: 0;
    
    
    
}

.hero{
    background-image: url(/splashpagebackground.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.logo{
    height: 3rem;
}

.logo img{
    width: 7rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.grid-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 47% 6% 47%;
    grid-template-rows: 4rem 6rem 17rem auto;
    max-width: 60rem;
    margin: auto;
    

}

.item1{
    grid-column: 1/span 3;
}

.item2{
    grid-column: 1;
    grid-row: 2;
}

.item3{
    grid-row: 3;
}

.item4{
    grid-row: 3;
    grid-column: 3;
}

.item5{
    grid-row: 4;
    grid-column: 0/4;
}

.item6{
    grid-column: 3;
    grid-row: 4;
}

.item7{
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    margin: auto;
}
/*
.item8{
    grid-row: 5;
    grid-column: 1/-1;
    justify-self: center;
    padding-bottom: 5rem;

}

*/

.grid2{
    position: top;
    display: grid;
    grid-template-columns: 5rem auto 5rem;

}

.survey{
    grid-column: 2/3;
    justify-self: center;
    position: relative;
    clip-path: stroke-box;
  



}

h1 {color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-transform: uppercase;
}

h2 {color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


input[type=text]{
    padding: .75rem .5rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    width: 2fr;
    justify-content: stretch;
    
}


input[type=submit], input[type=button]{
    width: 1fr;
    padding: .75rem .5rem;
    color: white;
    background-color: rgb(87, 100, 216);
    border: none;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    justify-content: stretch;
    text-transform: uppercase;
}

input:hover{
    background-color:  white;
    color: rgb(87, 100, 216);
}

a{
    color:  white;
    text-decoration: none;
    background-color: rgb(87, 100, 216);
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-transform: uppercase;
    font-weight: normal;


}

a:hover{
    background-color:  white;
    color: rgb(87, 100, 216);
}



p {color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: lighter;
    font-size: 1rem;
    }

    /*blocks sub page*/

    .grid-container2{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 6rem 23rem auto;
        max-width: 60rem;
        margin: auto;
    }

    .newvid{
        justify-self: center;
        grid-row: 3;
    }

    